body.path-course-view .course-content .ui-link-inherit,
body.course .course-content .ui-link-inherit{
	margin-left: 0;
	margin-right: 0;
	position: relative;
	min-height: auto;
	padding: 0 60px 0 10px;
}

body.path-course-view .course-content li.section,
body.course .course-content li.section
{
	list-style-type: none;
}

li.activity.label*{
	color: #ffffff!important;
}


body.path-course-view .course-content img.ui-li-thumb,
body.course .course-content img.ui-li-thumb{
	position: relative;
	margin: 10px;
}

body.path-course-view .course-content .instancename,
body.course .course-content .instancename{
	line-height: 50px;
}


body.path-course-view .accesshide{
	display: none;
}

object{
	max-width: 100%;
}

body.path-course-view  .summary img,
body.course  .summary img{
	max-width: 100%!important;
	margin: 1em auto;
	clear: both;
	display: block;
	float: none!important;/*override inline styles*/
}

/*For tablets*/
@media all and (min-width: 35em){

	body.path-course-view li.section.ui-block-a,
	body.course li.section.ui-block-a {
		padding-right: 10px;
	}
	
	body.path-course-view li.section.ui-block-b,
	body.course li.section.ui-block-b {
		padding-left: 10px;
	}
	
	body.path-course-view #section-0,
	body.course #section-0{
		width: 100%;
		padding: 0;
	}

}