#page-course-view-weeks .course-content .ui-link-inherit,
#page-course-view-topics .course-content .ui-link-inherit{
	margin-left: 0;
	margin-right: 0;
	position: relative;
	min-height: auto;
	padding: 0 60px 0 10px;
}

#page-course-view-weeks .course-content li.section,
#page-course-view-topics .course-content li.section
{
	list-style-type: none;
}

li.activity.label*{
	color: #ffffff!important;
}


#page-course-view-weeks .course-content img.ui-li-thumb,
#page-course-view-topics .course-content img.ui-li-thumb{
	position: relative;
	margin: 10px;
}

#page-course-view-weeks .course-content .instancename,
#page-course-view-topics .course-content .instancename{
	line-height: 50px;
}


#page-course-view-weeks .accesshide{
	display: none;
}

object{
	max-width: 100%;
}

#page-course-view-weeks  .summary img,
#page-course-view-topics  .summary img{
	max-width: 100%!important;
	margin: 1em auto;
	clear: both;
	display: block;
	float: none!important;/*override inline styles*/
}

/*For tablets*/
@media all and (min-width: 35em){

	#page-course-view-weeks li.section.ui-block-a,
	#page-course-view-topics li.section.ui-block-a {
		padding-right: 10px;
	}
	
	#page-course-view-weeks li.section.ui-block-b,
	#page-course-view-topics li.section.ui-block-b {
		padding-left: 10px;
	}
	
	#page-course-view-weeks #section-0,
	#page-course-view-topics #section-0{
		width: 100%;
		padding: 0;
	}

}