/**
 * Forums CSS
 * @author Allan Watson
 * @theme mobilev1
 * @editted 13/02/13
 */
 

#page-mod-forum-view table.forumheaderlist tr,
#page-mod-forum-view table.forumheaderlist td,
#page-mod-forum-view table.forumheaderlist,
#page-mod-forum-view table.forumheaderlist tbody
{
	display: block;
 	border:none;
	border-style:none;
//	width: auto!important;

}

#page-mod-forum-view table.forumheaderlist td.topic{
	padding: 0px !important;
	clear: both;
	display: block;
}

.forumpost .defaultuserpic{
	width: 35px;
	height: 35px;
	font-size: 30px;
	background-color: transparent;
	border: none;
	}
}
 
 
 #page-mod-forum-view table.forumheaderlist td.author:before{
 	content: "Posted by ";
 }
 
  #page-mod-forum-view table.forumheaderlist td.lastpost:before{
 	content: "Last Post: ";
 }
	#page-mod-forum-view table.forumheaderlist td.lastpost{
	float:right;
		}
		
	/*clear the float from last post*/	
	#page-mod-forum-view table.forumheaderlist tr.discussion,
	.forumpost .row.maincontent.clearfix{
		clear:both;
	}
	
	tr.discussion{
		background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.26, #cbcccb), to(#7a7a7a));
		background-image: -moz-linear-gradient(90deg, #cbcccb 26%, #7a7a7a 100%);
		-moz-box-shadow: inset 0 40px 10px rgba(0, 0, 0, 0.61);
		-webkit-box-shadow: inset 0 40px 10px rgba(0, 0, 0, 0.61);
		box-shadow: inset 0 40px 10px rgba(0, 0, 0, 0.61);
	}
	
#page-mod-forum-view tr.discussion td a{
		color: rgb(43, 49, 54);
	}
	
	
	/*clear fix for tr.discussion */
	tr.discussion:after,
	.topic.firstpost.starter:after{
		content: " . ";
		clear: both;
	  display: block;
	  height: 0;
	  visibility: hidden;
	  font-size: 0;
}
 
 span.reply-count{
	float:right;
}

/* class to force display inline */
.displayinline{
	display:inline-block!important;
}


.row.maincontent .content{
	padding: 1em;
	background-color:#fff;
	text-shadow:none;
	color:#000;
}

.forumpost{
	overflow:hidden;
	border: none;

}

.forumpost .subject{
	font-size: 18px;
}



.forumpost .row.maincontent{
	border: 1px solid #cbcccb;
}



/* override the main post jumping down*/
.row.maincontent.clearfix ,
.forumpost .row .options{
	clear: none!important;
	margin:0;
}

.forumpost .row{
	width: auto;
}

.forumpost .row.header{
	border-top-left-radius:0.3em;
	border-top-right-radius:0.3em; 
}


/* @group Commands */

.forumpost .commands{
	margin: 0;
}
/*force buttons to have no top corners*/
.forumpost .commands a{
	border-top-left-radius: 0!important;
	border-top-right-radius: 0!important;
	border-top: none;
	min-width: 5em!important;
}


/* @end */

 
 /* Style */
 
  #mformforum label{
	font-weight: bold;
 }
 
 #mformforum textarea{
	height:150px;
	margin-bottom:1em;
 }
 
 /* make a title for the reply*/
 #page-mod-forum-post h2.accesshide{
	display:block;
	margin: 1em 0 1em 0;
}


/* Indents */

.path-mod-forum .indent .indent,
.indent, .indent{
	margin-left:2em;
}


/*Phones*/
@media only screen and (max-width: 30em){
	 .path-mod-forum  .indent,
	.path-mod-forum .indent .indent,
	.indent{
		margin:0;
	}
}

/* Paging Buttons */

.paging{
	height: 3em;
	
}
.paging .ui-li.ui-li-static.ui-btn-up-c {
    height: 3em;
    min-width: 2em;    
    display: inline-block;
    padding: 0 3px;
    font-size: 10px;
    line-height: 3em;
    text-align: center;
  
}

.paging .ui-li.ui-li-static.ui-btn-up-b{
	height: 3em;
	 min-width: 2em; 
	display: inline-block;
	padding: 0 3px;
	font-size: 10px;
	line-height: 3em;
	text-align: center;
	color: #fff;
}

/* Replies */
.forumpost .rply-count{
	float: right;
	padding: 0.5em 0.75em 0.5em 0.75em;
	border-radius: 10em;
}

.forumpost .content:after{
		content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}




/* Hidden */

#page-mod-forum-view table.forumheaderlist td.picture,
#page-mod-forum-view table.forumheaderlist td.author,
#page-mod-forum-view table.forumheaderlist td.lastpost,
#page-mod-forum-view table.forumheaderlist td.replies, 
#page-mod-forum-view  table.forumheaderlist thead,

div.discussioncontrols,
.forumpost .row.side .left,

#id_error_subject,

#mformforum legend.ftoggler,
#page-mod-forum-post .fdescription,
#mformforum label[for="id_subscribe"],
#mformforum label.accesshide[for="menumessageformat"],
.fitem_ffilemanager,
 .forumpost .row.maincontent .left,
 #page-mod-forum-user  .footer a, /* See this post in context */
 .forumpost.starter .rply-count /* no reply count for starter */ 
 
 {
	display:none;
}
