/* @override 
	http://localhost:8888/moodle/theme/styles_debug.php?sheet=pagelayout&theme=mobilev1&type=theme */

/****
 * Overrides of the base theme
 *
 * Three column floating div layout with 2,1,3 column order
 * Based on: http://matthewjamestaylor.com/blog/holy-grail-no-quirks-mode.htm
 * And:  http://matthewjamestaylor.com/blog/ultimate-3-column-holy-grail-pixels.htm
 *
 * #page
 *   #page-header
 *   #page-content
 *   |  #region-main-box
 *   |      #region-main-wrap
 *   |      |  #region-main
 *   |      |    .region-content
 *   #page-footer
 *
 * The body tag may also contain one of three layout specific classes that describe
 * the regions of the page and allow us to theme more easily.
 *
 *   default (no class) = Content + side pre + side post
 *   side-pre-only      = Content + side pre
 *   side-post-only     = Content + side post
 *   content-only       = Content
 *
 ****/
 

#page-my-index  .collapsibleregioninner{display:none;}

#page-content #region-main {margin-right:0px;margin-left:0px;overflow:hidden;}
#page-content #region-main-wrap {float:none;position:relative;right:0;width:100%;}
#page-content {clear:both;float:none;overflow:hidden;position:relative;width:100%;min-width:0px;}



.skip-bloc,
.accesshide{
	display: none;
}

/*button override for JQuery*/
.ui-btn-inner{
	min-width: 3em!important;
}

div.ui-input-text input.ui-input-text, 
div.ui-input-text textarea.ui-input-text,
.ui-input-search input.ui-input-text{
	padding: .4em .4em .4em .4em!important;
}

.left{float:left;}




fieldset.clearfix{
	overflow:hidden!important; /* prevent ftoggler and labels expanding over bounds */
	width: 100%!important; /*fix a page overflow*/
	
}

legend.ftoggler{
display: block;
width: 100%;
padding:0.5em;
margin: 1em 0 1em 0;
}

/* 
 * @group Panel 
 * ---------------------------------------------------------------------
 */

/*make the page not the panel do the overlay shadow*/
.ui-panel-content-wrap-display-reveal,
.ui-panel-content-wrap-open,
.ui-panel-content-fixed-toolbar-open
{
	-webkit-box-shadow:  5px 0 5px rgba(0,0,0,.15);
	-moz-box-shadow:  5px 0 5px rgba(0,0,0,.15);
	box-shadow:  5px 0 5px rgba(0,0,0,.15);
}

html .ui-panel-position-right.ui-panel-display-reveal
{
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
} 


html div.ui-panel-inner{
	padding: 0;
}

#panel-wrapper li a{
	//text-transform: capitalize;
}

/* protect list from overflowing panel*/
.ui-panel-display-reveal .ui-panel-inner > .ui-listview{
	margin: 0;
}


/* icons for panels */
#panel-wrapper li .ui-btn-text a:before{	
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	margin-right:0.5em;
	float: left;
}


li.View.profile,
li.My.profile{
	display:none;
}


/* @end */

/* 
 * @group Courses 
 * ---------------------------------------------------------------------
 */

#page-body .block_course_overview .content{
	margin: 0;
}

#page-site-index table, fieldset.coursesearchbox{
	display:none!important;
}

#page-course-index .summary{
	padding: 0 2em 1em 1em
}

/* @end */


/* 
 * @group Header 
 * ---------------------------------------------------------------------
 */

#page-header h1.headermain{
	float: none;
	font-size: 1.5em;
	text-align: center;
}


#page-header .headernav{
	font-size: 0.8em;

}

#page-header {
	border-bottom: 3px solid #0074bc;
	-moz-box-shadow: 0 0 5px rgba(8, 8, 8, 0.49);
	-webkit-box-shadow: 0 0 5px rgba(8, 8, 8, 0.49);
	box-shadow: 0 0 5px rgba(8, 8, 8, 0.49);
}


#page-header a{
	margin:  0.3em 0.3em 0 0.3em;
}

#page-header a.mybtn{
	font-size: 25px;
	text-decoration: none;
	color: #b9c3ca;
	text-shadow: 0 0 1px #000000;
	text-align: center;
}

.ui-page-panel-open #page-header a.mybtn,
a#back-button:active,
a#back-button:focus{
	color: #0077bc;
	text-shadow: 0 0 20px rgba(0, 119, 187, 0.52);
}

/* @end */


/*
 * @group Popup 
 * ---------------------------------------------------------------------
 */

.ui-popup-screen.in{
	background-color: #000;
}


/* @end */


/* 
 * @group Tables Group 
 * ---------------------------------------------------------------------
 */


td.c0, th{
	background-color: rgb(44, 45, 45);
	font-weight: bold;
	color: #ffffff;
	text-shadow: 0 0 1px #000000;
}

table.responsive-tab,
#page-mod-assign-index table {
	width:100%;
}

/* Tablets */
@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	/* Force table to not be like tables anymore */
	table.responsive-tab,
	.responsive-tab thead,
	.responsive-tab tbody,
	.responsive-tab th,
	.responsive-tab td,
	.responsive-tab tr { 
		display: block;
	}
	
	.responsive-tab tr { border: 1px solid #676767; }

	
	.responsive-tab td,
	.responsive-tab th { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #9b9b9b; 
		position: relative;
		width: auto!important;
	}
	
	
}

 /*@end */

  
 /* 
  * @group Profile Info  
  * ---------------------------------------------------------------------
  */
 
 
  .user-info{
 	text-align: center;
 	padding: 0.5em 1em 0.5em 1em;
 }
  .user-info a{
 	display: inline-block;
 }
 
 .user-info a.username{
 	line-height: 40px;
 	vertical-align: text-bottom;
 	
 }
 
  .user-info img{
 	width: 35px;
 	height: 35px;
 	background-color: rgba(255, 255, 255, 0.45);
 	border: 1px solid #252525;
 	-webkit-border-radius: 5px;
 	margin-right: 1em;
 }
 
 /* @end */ 
 
 /* Report Log */
	.graph{
		overflow: scroll;
	}
 
 
 /* Errors */
 .error .ui-input-text{
	-moz-box-shadow:  0px 0px 10px red;
	-webkit-box-shadow:  0px 0px 10px red;
	box-shadow:  0px 0px 10px red;
 }
 
  /*Bigger Screens */
 @media 
only screen and (min-width: 35em) {
 
	#page-site-index .ui-listview-filter
	{
		max-width: 75%;
		margin-left: auto;
		margin-right: auto;
	}
	
	#page-body{
		//padding-left: 3em;
		//padding-right: 3em;
	}

}
 
 
 /* Grades */
 
 #page-mod-assign-view table .commands {
	display:none;
 }

