
.userprofile .descriptionbox table{
	margin-left: auto;
	margin-right: auto;
}

.userprofile .userprofilebox,
.userprofile h2{
	text-align: center;
}

.userprofile .descriptionbox table td,
.userprofile .descriptionbox table th{
	border: none;
}

#page-user-editadvanced fieldset#moodle{
	width: 100%
}

.profilepicture .defaultuserpic{
	width: 100px;
	height: 100px;
	background-color: rgba(255, 255, 254, 0);
	border: none;
	font-size: 100px;
	margin-left: auto;
	margin-right: auto;
}

 /* 
  * @group Profile Info  
  * ---------------------------------------------------------------------
  */
  
  .user-info{
 	padding: 0.5em 1em 0.5em 1em;
 	overflow: hidden;
 }
  .user-info a{
 	display: inline-block;
 }
 
 .user-info a.username{
 	line-height: 40px;
 	vertical-align: text-bottom;
 	
 }
 
  .user-info img,
  .defaultuserpic{
 	-webkit-border-radius: 5px;
 	margin-right: 0.25em;
	height: 35px;
	width:35px;
	font-size: 35px;
	background-repeat: repeat-x;
	background-image: -webkit-linear-gradient(top, #0077bc, #154f70);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0077bc), to(#154f70));
	background-image: -moz-linear-gradient(top, #0077bc, #154f70);
	background-image: -o-linear-gradient(top, #0077bc, #154f70);
	background-image: linear-gradient(top, #0077bc,#154f70);
	border: 1px solid #00354b;
	background-color: #154f70;
//	text-shadow: 0  1px 0 #fff;	
	
}
 
 /* @end */ 

/* Buttons */
.userprofile .messagebox a,
.userprofile .fullprofilelink a{
	max-width: 20em;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
}

.userprofile .messagebox ,
.userprofile .fullprofilelink {
	text-align:center;
}



/*#page-user-editadvanced legend{
	background-color: #000;
	display: block;
	width: 100%;
	color: #fff;
	padding: 0.5em 0 .5em 0;
	text-indent: 1em;
	text-shadow: 0 /*{a-bar-shadow-x}*!/ -1px /*{a-bar-shadow-y}*!/ 1px /*{a-bar-shadow-radius}*!/ #000 /*{a-bar-shadow-color}*!/;
	font-size: 17px;
}*/