/**
 * Messages CSS
 */
 
#page-message-index table,
#page-message-index .messagesend fieldset.hidden{
	width:100%;
}

#message_contacts .heading{
	 background-color: rgb(44, 45, 45);
	 background-color: rgb(44, 45, 45);
	font-weight: bold;
	color: #ffffff;
	text-shadow: 0 0 1px #000000;
}

.messagerecent .singlemessage .pix img{
	width: 50px!important;
	height: 50px!important;
	float:left;
	padding-right: 0.5em;
}

.messagerecent .singlemessage span{
	display:block;
}

#page-message-index .userpicture{
	margin-left: auto;
	margin-right: auto;
	width:35px!important;
	height:35px!important;
}


#page-message-index .messagehistory .box table,
#page-message-index table td{
	border:none;
}



#page-message-index .messagehistory .mdl-left{
	float: none;
	margin: 0em 0 1em 0;
}


#page-message-index .messagehistorytype{
	text-align:center;
}


/* Hide */
#page-message-index .singlemessage .removecontact,
#page-message-index .singlemessage .history,
#page-message-index .singlemessage .blockcontact,
#page-message-index .hiddenelement{
	display:none;
}